.classpath
.project
.settings
.cache
target
*.iml
.idea
scalastyle-output.xml
*.pyc
*.swp
python/build/
python/dist/
python/*.egg-info
*.log
*.jar
.Rproj.user
.Rhistory
.RData
derby.log
logs/
.DS_Store
README_cache/
vignettes/development_cache/
vignettes/development_cache/*
R/man/
R/NAMESPACE

/venv/
R/.Rapp.history
feature-REG-1084.Rproj
metastore_db
